apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: m-k8s-cmpnnt
  namespace: argocd
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  project: default
  source:
    helm:
      valueFiles:
        - values.yaml
    path: go-hello-http
    repoURL: https://github.com/bmutziu/gitops-argocd
    targetRevision: HEAD
  syncPolicy:
    automated: {}
